// Place all the styles related to the ContentPlans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.history-btn{
  margin-right:10px;
}
.delete-btn{
  margin:0;
}

.search-form{
  input, select, .select2-container {
    margin-right: 5px;
    top: 10px;
  }
}

.clear-box{
  clear: both;
}

.tag-box{
  margin: 0 0 40px 20px;

  .platform {
    .status {
      height: 100%;
      float: left;
    }
    .status-not-started {
      background-color: #e69138;
    }
    .status-drafting-gds, .status-drafting-agency {
      background-color: #f1c232;
    }
    .status-publisher-2i, .status-whitehall-2i {
      background-color: #3d85c6;
    }
    .status-publisher-amends, .status-whitehall-amends {
      background-color: #9fc5e8;
    }
    .status-whitehall-factcheck {
      background-color: #a64d79;
    }
    .status-ready-for-publish {
      background-color: #66FFCC;
    }
    .status-live {
      background-color: #33CC33;
    }
    .status-blocked{
      background-color: #ff0000;
    }

    .progress {
      margin-bottom: 5px;
    }
  }

  @media (min-width: 1200px) {
    margin-left: 30px;
  }

  @media (max-width: 767px) {
    margin-left: 0;
  }

}

.content-plans .tag-box {
  margin: 20px 0;
}

.countdown {
  clear: both;
  padding-top: -10px;
  margin-bottom: 10px;
}

