.table {
  th,
  td {
    background-color: none;
    padding: 8px 15px 8px 0;

    &.title {
      width: 50%;
    }
    &.size {
      width: 10%;
    }
    &.status {
      width: 20%;
    }
  }
}

dl.metadata {
  padding-bottom: 20px;
  overflow: hidden;

  dt,
  dd {
    float: left;
    margin: 0 1px 0 0;
  }
  dt {
    font-weight: normal;
    clear: both;
    min-width: 120px;
    padding-right: 10px;
  }
}
