.table {
  th,
  td {
    background-color: none;
    padding: 8px 15px 8px 0;

    &.title {
      width: 47%;
    }
    &.size {
      width: 8%;
    }
    &.status {
      width: 20%;
    }
    &.time {
      width: 20%;
    }
    &.user {
      width: 15%;
    }
    &.action {
      width: 10%;
    }
    &.changes {
      width: 55%;
    }
  }
}

dl.metadata {
  padding-bottom: 20px;
  overflow: hidden;

  dt,
  dd {
    float: left;
    margin: 0 1px 0 0;
  }
  dt {
    clear: both;
    min-width: 120px;
    padding-right: 10px;
  }
  dd {
    width: 50%;
  }
}


ul.comments {
  width: 100%;

  .message {
    clear: both;
    p {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  .name,
  .created_at {
    float: left;
    font-size: 14px;
    color: #6f777b;
    margin: 0 5px 10px 0;
  }
}

.breadcrumb {
  background-color: transparent;
  padding-left: 0;
}

.contents_container {
  table th {
    &.sort-header {
      background-image: image-url("icon-no-sorting.png");
      background-size: 16px 16px;
      background-position: 95% center;
      background-repeat: no-repeat;
      padding-left: 5px;
    }

    &.sort-ascending {
      background-color: #eaeaea;
      background-image: image-url("icon-sort-ascending.png");
    }

    &.sort-descending {
      background-color: #eaeaea;
      background-image: image-url("icon-sort-descending.png");
    }
  }
}