// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.tasks{
  list-style: none;
  margin: 0 0 10px 0;
}

a.tasks-btn{
  margin-left: 10px;
}

.done{
  text-decoration: line-through;
}

form.edit_task{
  margin: 0;
  display: inline;
  input[type=checkbox]{
    margin-right:5px;
    top: -2px;
    position: relative;
  }
  input[type=submit]{
    display:none;
  }
}

